In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv('./MOCK_DATA.csv')

In [3]:
def create_field_with_blank(num, choices):
    vals = []
    for n in range(num):
        choice = random.choice(drinks)
        if random.random() < 0.3:
            choice = None
        vals.append(choice)
    return vals

In [4]:
drinks = [
    'Bier',
    'Wein + Mineral',
    'Wein + Almdudler',
    'Wein + Cola',
    'Wein + Frucade',
]

def create_drink_pref(num, drinks):
    vals = []
    for n in range(num):
        choice = random.choice(drinks)
        vals.append(choice)
    return vals

In [5]:
blocks = ['A', 'B', 'C', 'D', 'E', 'F']

def create_time_pref(num, blocks):
    vals = []
    for n in range(num):
        choice = random.choice(blocks)
        vals.append(choice)
    return vals

In [6]:
df['drink_pref_player_1'] = create_drink_pref(100, drinks)
df['drink_pref_player_2'] = create_drink_pref(100, drinks)
df['time_pref'] = create_time_pref(100, blocks)

In [7]:
def email_or_phone(row):
    rand = random.random()
    if rand > 0.5:
        row['contact'] = row['email']
        row['phone_number'] = np.nan
    else:
        row['contact'] = row['phone_number']
        row['email'] = np.nan
    return row
df = df.apply(lambda row: email_or_phone(row), axis=1)
df['channel'] = np.where(df['email'].isna(), 'sms', 'email')
df = df.drop(columns=['email', 'phone_number'])

In [8]:
df.head()

,first_name_player_1,last_name_player_1,first_name_player_2,last_name_player_2,drink_pref_player_1,drink_pref_player_2,time_pref,contact,channel
0,Howey,Dobrowolski,Jonas,Atheis,Wein + Frucade,Wein + Cola,B,jatheis0@nps.gov,email
1,Asa,Morbey,Margarita,Daborn,Wein + Mineral,Bier,C,+55 761 157 9026,sms
2,Alleyn,Malek,Krissy,Jarman,Bier,Wein + Mineral,D,+7 749 429 9628,sms
3,Samantha,Bidnall,Camilla,Gration,Wein + Frucade,Wein + Cola,F,cgration3@shareasale.com,email
4,Blake,Lenham,Rudolf,Chapiro,Wein + Mineral,Bier,C,rchapiro4@aboutads.info,email

In [9]:
df.to_csv('./input.csv', index=False)