In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv('./MOCK_DATA.csv')

In [3]:
def create_field_with_blank(num, choices):
    vals = []
    for n in range(num):
        choice = random.choice(drinks)
        if random.random() < 0.3:
            choice = None
        vals.append(choice)
    return vals

In [4]:
drinks = [
    'Bier',
    'Wein + Mineral',
    'Wein + Almdudler',
    'Wein + Cola',
    'Wein + Frucade',
]

def create_drink_pref(num, drinks):
    vals = []
    for n in range(num):
        choice = random.choice(drinks)
        vals.append(choice)
    return vals

In [5]:
blocks = ['A', 'B', 'C', 'D', 'E', 'F']

def create_time_pref(num, blocks):
    vals = []
    for n in range(num):
        choice = random.choice(blocks)
        vals.append(choice)
    return vals

In [6]:
df['drink_pref_player_1'] = create_drink_pref(100, drinks)
df['drink_pref_player_2'] = create_drink_pref(100, drinks)
df['time_pref'] = create_time_pref(100, blocks)

In [7]:
df.head()

,email,first_name_player_1,last_name_player_1,first_name_player_2,last_name_player_2,phone_number,drink_pref_player_1,drink_pref_player_2,time_pref
0,jatheis0@nps.gov,Howey,Dobrowolski,Jonas,Atheis,+86 604 130 3530,Wein + Frucade,Wein + Almdudler,B
1,mdaborn1@icq.com,Asa,Morbey,Margarita,Daborn,+55 761 157 9026,Wein + Mineral,Wein + Cola,D
2,kjarman2@alexa.com,Alleyn,Malek,Krissy,Jarman,+7 749 429 9628,Bier,Wein + Mineral,F
3,cgration3@shareasale.com,Samantha,Bidnall,Camilla,Gration,+86 291 891 5655,Wein + Frucade,Wein + Almdudler,F
4,rchapiro4@aboutads.info,Blake,Lenham,Rudolf,Chapiro,+86 276 440 7729,Wein + Almdudler,Wein + Cola,F

In [8]:
df.to_csv('./mock_data.csv', index=False)