In [8]:
import pandas as pd
import numpy as np
import random

In [9]:
df = pd.read_csv('./MOCK_DATA.csv')

In [ ]:
def create_field_with_blank(num, choices):
    vals = []
    for n in range(num):
        choice = random.choice(drinks)
        if random.random() < 0.3:
            choice = None
        vals.append(choice)
    return vals

In [10]:
drinks = [
    'Bier',
    'Wein + Mineral',
    'Wein + Almdudler',
    'Wein + Cola',
    'Wein + Frucade',
]

def create_drink_pref(num=90, drinks):
    vals = []
    for n in range(num):
        choice = random.choice(drinks)
        if random.random() < 0.3:
            choice = None
        vals.append(choice)
    return vals

In [11]:
def create_time_pref(num=100):
    vals = []
    for n in range(num):
        choice = random.choice(['Start', 'Ende', 'Mitte'])
        if random.random() < 0.3:
            choice = None
        vals.append(choice)
    return vals

In [12]:
df['drink_pref'] = create_drink_pref()
df['time_pref'] = create_time_pref()

In [13]:
df.head()

,email,first_name_1,last_name_1,first_name_2,last_name_2,drink_pref,time_pref
0,pphelan0@tripod.com,Hube,Roebottom,Peterus,Phelan,Wein,None
1,reastwood1@oaic.gov.au,Brenden,Theobalds,Randall,Eastwood,None,Ende
2,mbanford2@imgur.com,Vivian,Stennard,Mervin,Banford,Wein,Start
3,gmedley3@deviantart.com,Trefor,Runacres,Gradeigh,Medley,Bier,Ende
4,lkelsall4@baidu.com,Hernando,Girtin,Laetitia,Kelsall,None,Mitte

In [14]:
df.to_csv('./mock_data.csv', index=False)